body {
  background-image: url(http://tinyurl.com/bgploug);
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.global{
  margin: auto;
  width: 960px;
  background: rgba(46, 117, 130, 0.7);
}
.center-div {
  margin: 0 auto;
}
header {
  background-color: #CEE5DD;
  width: 960px;
  height: 110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Sintony', sans-serif;
}
.navbarPerso {
  width: 450px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin: 30px;
  background-color: black;
  color: white;
  padding: 0px 20px 0px 20px;
  border-radius: 10px 30px 10px 30px;
}
section{
  background-color: #498B97,
  text-align: center;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #498B97,
  text-align: center;
  margin: auto;
}
a{
  text-decoration: none;
  color: #fff;
}
a:visited{
  text-decoration: none;
  color: #fff,
}
a:hover , a:active{
  text-decoration: none;
  color:red;
  font-weight : bold;
  text-shadow : 0px, 0px, 7px, #ffffff;
}

/* -- popup photo -- */

.lb-loader,.lightbox {
  text-align:center;
  line-height:0
}
body:after {
  content:url(img/sclose.jpg) url(img/loading.gif) url(img/prev.png) url(img/next.png);
  display:none
}

.lb-dataContainer:after,.lb-outerContainer:after {
  content:"";
  clear:both
}
body.lb-disable-scrolling {
  overflow:hidden
}
.lightboxOverlay {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  background-color:#000;
  filter:alpha(Opacity=80);
  opacity:.8;
  display:none
}
.lightbox {
  position:absolute;
  left:0;
  width:100%;
  z-index:10000;
  font-weight:400 }
.lightbox .lb-image {
  display:block;
  height:auto;
  max-width:inherit;
  border-radius:3px
}
.lightbox a img {
  border:none;
}
.lb-outerContainer {
  position:relative;
  background-color:#fff;
  width:250px;
  height:250px;
  margin:0 auto;
  border-radius:4px
}
.lb-loader,.lb-nav {
  position:absolute;
  left:0
}
.lb-outerContainer:after {
  display:table
}
.lb-container {
  padding:4px
}
.lb-loader {
  top:43%;
  height:30%;
  width:100%
}
.lb-cancel {
  display:block;
  width:32px;
  height:32px;
  margin:0 auto;
  background:url(img/sclose.jpg) no-repeat
}
.lb-nav {
  top:0;
  height:100%;
  width:100%;
  z-index:10
}
.lb-container > .nav {
  left:0
}
.lb-nav a {
  outline:0;
}
.lb-next,.lb-prev {
  height:100%;
  cursor:pointer;
  display:block
}
.lb-nav a.lb-prev {
  width:34%;
  left:0;
  float:left;
  background:url(img/prev.png) left 48% no-repeat;
  filter:alpha(Opacity=0);
  opacity:1;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition:opacity .6s
}
.lb-nav a.lb-prev:hover {
  filter:alpha(Opacity=100);
  opacity:0;
}
.lb-nav a.lb-next {
  width:64%;
  right:0;
  float:right;
  background:url(img/next.png) right 48% no-repeat;
  filter:alpha(Opacity=0);
  opacity:0;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition:opacity .6s
}
.lb-nav a.lb-next:hover {
  filter:alpha(Opacity=100);
  opacity:0;
}
.lb-dataContainer {
  margin:0 auto;
  padding-top:5px;
  width:100%;
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius:4px;
  border-bottom-left-radius:4px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px
}
.lb-dataContainer:after {
  display:table
}
.lb-data {
  padding:0 4px;
  color:#ccc
}
.lb-data .lb-details {
  width:85%;
  float:left;
  text-align:left;
  line-height:1.1em
}
.lb-data .lb-caption {
  font-size:13px;
  font-weight:700;
  line-height:1em
}
.lb-data .lb-number {
  display:block;
  clear:left;
  padding-bottom:1em;
  font-size:12px;color:#999
}
.lb-data .lb-close {
  display:block;
  float:right;
  width:30px;
  height:30px;
  background:url(img/sclose.jpg) top right no-repeat;
  text-align:right;
  outline:0;filter:alpha(Opacity=70);
  opacity:.7;
  -webkit-transition:opacity .2s;
  -moz-transition:opacity .2s;
  -o-transition:opacity .2s;
  transition:opacity .2s
}
.lb-data .lb-close:hover {
  cursor:pointer;
  filter:alpha(Opacity=100);
  opacity:1
}
#popupbox {
  margin: 0px 70px 0px 69px;
}
.popup {
  width: 700px;
  height: 700px;
}
#resize {
  max-width: 200px;
  max-height: 200px;
}

  /* partie blog */
content {
  width: 900px;
  height: 680px;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 0px 20px;
  margin: auto;
}
.pitch {
  width: 350px;
  height: 660px;
  background: rgba(214, 173, 144, 0.5);  border-radius: 10px;
    /* autre bleu : (69, 124, 143, 0.7) */
  font-size: 25px;
  color: #00464F;
  text-align: center;
}
#fleche {
  align-self: right;
  width: 70px;
  height: 70px;
  -webkit-transform:rotate(180deg); /*Safari 3.1+/Chrome*/
  -o-transform:rotate(180deg);  /*Opera 10.5+*/
  -moz-transform: rotate(180deg); /*Firefox 3.5+*/
}
.livret {
  width: 350px;
  height: 640px;
  background: rgba(69, 124, 143, 0.5);
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 25px;
  color: #D1C0A7;
}
  /*Partie blog fin*/

.logoBox {
  width: 300px;
  height: 300px;
  background-color: gold;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 30px 10px 30px;
}
#logoUn, #logoDeux, #logoTrois, #logoQuatre {
  width: 146px;
  height: 146px;
  border: 2px solid white;
}
#logoUn {
  border-radius: 10px 0px 0px 0px;
}
#logoDeux {
  border-radius: 0px 0px 0px 30px;
}
#logoTrois {
  border-radius: 0px 30px 0px 0px;
}
#logoQuatre {
  border-radius: 0px 0px 10px 0px;
}
.logo {
  margin: -100 0 10px 0;
}
